[submodule "CheatsheetCarbon"]
	path = CheatsheetCarbon/cheatsheet-carbon
	url = git@Lithium:LaTeX/CheatsheetCarbon.git
	branch = dev
[submodule "Minimus"]
	path = CheatsheetCarbon/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = dev
[submodule "StandaloneSilicon"]
	path = CheatsheetCarbon/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = dev
[submodule "MakefileLaTeX"]
	path = CheatsheetCarbon/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX.git
	branch = dev
[submodule "PyJool"]
	path = CheatsheetCarbon/pyjool
	url = git@Lithium:LaTeX/PyJool.git
	branch = dev
