[submodule "CheatsheetCarbon/cheatsheet-carbon"]
	path = CheatsheetCarbon/cheatsheet-carbon
	url = git@github.com:liyuxuan3003/CheatsheetCarbon.git
	branch = master
[submodule "CheatsheetCarbon/minimus"]
	path = CheatsheetCarbon/minimus
	url = git@github.com:liyuxuan3003/Minimus.git
	branch = master
[submodule "CheatsheetCarbon/standalone-silicon"]
	path = CheatsheetCarbon/standalone-silicon
	url = git@github.com:liyuxuan3003/StandaloneSilicon.git
	branch = master
[submodule "CheatsheetCarbon/makefile-latex"]
	path = CheatsheetCarbon/makefile-latex
	url = git@github.com:liyuxuan3003/MakefileLaTeX.git
	branch = master
[submodule "CheatsheetCarbon/pyjool"]
	path = CheatsheetCarbon/pyjool
	url = git@github.com:liyuxuan3003/PyJool.git
	branch = master
